 .result-box{
    height: 87vh;  
    width: 100%;
    background-color: #1E1E1E;
    color: white;
}

  .image-container {
    position: absolute;
    top: 150px;
    left: 800px;
    height: 455px;
    width: 660px;
    overflow: hidden;
    position: relative;
  }
  
  .image-container::before {
    z-index: 0; 
  }
  
  .bg-image {
    position: relative; 
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1; 
  }
.inner-circle{
    height: 198px;
    width: 198px;
    background-color: #032706;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
 
  @media (max-width: 360px) {
    .result-box {
      height: 100vh;
      padding: 10px;
    }
  
    .breadcrumb {
      top: 100px;
      left: 20px;
    }
  
    .image-container {
      top: 50px;
      left: 20px;
      height: 250px;
      width: 320px;
    }
  
    .bg-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
    .circleBox {
      width: 220px;
      height: 220px;
      top: 220px;
      left: 60px;
    }
  
    .innerCircleBox {
      height: 150px;
      width: 150px;
    }
  
    .percentText {
      font-size: 50px;
    }
  
    .text {
      font-size: 18px;
    }
  }
  